.sobre{
    font-family: "JetBrains Mono";
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto{
    height: 350px;
    margin-right: 2em;
}

.paragrafo{
    font-weight: 200;
    font-size: 18px;
    width: 35%;
    text-align: left;
}

.span{
    font-size: 26px;
    font-weight: 600;
}

.container2{
    background-color: #2F6080;
    border-radius: 32px;
    width: fit-content;
    margin: 2em auto;
    padding: 1em 0;
    align-items: center;
}

.skills{
    margin: 0;
}

.lista{
    display: flex;
    list-style: none;
}

.item{
    margin-right: 2em;
}

.quebra{
    width: 68%;
}

@media (max-width: 1023px) {
    .container1{
        display: block;
        width: 50%;
        margin: auto;
    }
    .foto{
        margin: 0 auto;
        width: 300px;
        height: 300px;
    }
    .paragrafo{
        width: 80%;
        margin: 2em auto 0 auto;
        text-align: center;
    }
    .lista{
        display: block;
        padding: 1em;
        margin: 0;
    }
    .skills{
        padding: 1em;
        width: 50%;
        margin: auto;
    }
    .item{
        margin: 1em auto;
    }
}

@media (max-width: 767px) {
    .foto{
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }
    .paragrafo{
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
}