.container-fazemos {
    font-family: "JetBrains Mono";
}

.listas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-bottom: 3em;
}

.lista-ux , .lista-site {
    list-style: none;
    width: 40%;
    margin: 0;
    margin-top: 1em;
}

.titulo-lista{
    font-weight: 500;
}

.paragrafo-lista{
    font-size: 18px;
    font-weight: lighter;
    width: 50%;
    margin: auto;
}

.fade-out {
    animation-name: fade-out-animation;
    animation-duration: 0.5s; /* Tempo da animação de fade out */
}

@keyframes fade-out-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} 

@media (max-width : 767px) {
    .listas{
        display: block;
    }
    .lista-ux , .lista-site {
        width: 80%;
        margin-bottom: 1em;
    }
    .paragrafo-lista{
        font-size: 16px;
    }
    .titulo-lista{
        font-size: 20px;
    }
}