.container-fazemos {
    font-family: "JetBrains Mono";
}

.listas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.lista-ux , .lista-site {
    list-style: none;
    width: 40%;
    margin: 0;
    margin-top: 1em;
}

.titulo-lista{
    font-weight: 500;
}

.paragrafo-lista{
    font-size: 18px;
    font-weight: lighter;
    width: 50%;
    margin: auto;
}

@media (max-width : 767px) {
    .listas{
        display: block;
    }
    .lista-ux , .lista-site {
        width: 80%;
    }
    .paragrafo-lista{
        font-size: 16px;
    }
    .titulo-lista{
        font-size: 20px;
    }
}